@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.home{
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    overflow: hidden;
    position: relative;
    padding: 2rem;
}

    .home--degree{
        bottom: 0;
        height: 100%;
        left: 0;
        position: absolute;
        right: 0;
        width: 100%;
    }
        .home--degree::after{
            background: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.9) 70%, #ffffff 95%);
            content: "";
            display: block;
            height: 100%;
            position: absolute;
            width: 100%;
        }

    /* fondos de las diferentes secciones */
    .home--principal{
        background: url('/img/maxilofacial.jpg') no-repeat scroll right center / cover;
    }
    .home--especialidades{
        background: url('/img/centro.jpg') no-repeat scroll left center / cover;
    }
    .home--equipo{
        background: url('/img/equipo.jpg') no-repeat scroll right center / cover;
    }
    .home--centros{
        background: url('/img/operaciones.jpg') no-repeat scroll right center / cover;
    }

    /* Titulos y descripciones de las secciones */ 
    .home--title{
        color: var(--black);
        font-size: calc(1.5em + 1vw);
        font-weight: 300;
    }
    .home--descriptions{
        font-family: 'Cormorant Garamond', serif;
        font-size: calc(.65em + 1vw);
        font-style: italic;
        line-height: 1.25;
    }

    .home--content{
        flex-direction: column;
        margin-top: 10rem;
        z-index: 1;
    }
    
    .home--resalt{
        color: var(--ligthblue)
    }


    /* ESPECIALIDADES*/ 

    .home__especialidades{
        display: flex;
        justify-content: space-between;
    }
    .home__especialidades__content{
        text-align: center;
    }
    .home__especialidades--item{
        border-radius: 50%;
        height: 6rem;
        margin: 1rem 0;
        width: 6rem;

    }
        .home__especialidades--item--maxilofacial{
            background: var(--blue) url('/img/maxilofacial.svg') no-repeat center center / cover;
        }
        .home__especialidades--item--implantes{
            background: var(--blue) url('/img/implantes.svg') no-repeat center center / cover;
        }
        .home__especialidades--item--ortodoncia{
            background: var(--blue) url('/img/ortodoncia.svg') no-repeat center center / cover;
        }