:root{
    --darkblue: #3971E6;
    --blue: #3CA5F0;
    --ligthblue: #40C2D8;
    --ligthgreen: #3CF0DA;
    --green: #39E6A0;
    --black: #4d4d4d;
    --gray: #7a7d7d;
}

body {
    background: #f4f4f4;
    color: var(--gray);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

.wrapper {
    margin: -2.5rem;
}

/* Botones */ 

.btn{
    background: var(--green);
    border-radius: 2rem;
    border: none;
    color: white;
    padding: .5rem 1.2rem;
}
    .btn--primary{
        background: var(--ligthblue);
    }
/* titulos */
.title{
    color: var(--blue);
    font-size: 2.3rem;
    font-weight: 300;
    margin: 1.5rem 0 .25rem;
}

/* Contenedor */
.container{
    box-sizing: border-box;
    padding: 2.5rem;
    width: 100%;
}