:root{
    --darkblue: #3971E6;
    --blue: #3CA5F0;
    --ligthblue: #40C2D8;
    --ligthgreen: #3CF0DA;
    --green: #39E6A0;
    --black: #4d4d4d;
    --gray: #7a7d7d;
}
a{
    text-decoration: none;
}

body {
    background: #f4f4f4;
    color: var(--gray);
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 300;
}

/* Main */
.main{
    display: flex;
}

/* Botones */ 

.btn{
    background: var(--green);
    border-radius: 2rem;
    border: none;
    color: white;
    padding: .5rem 1.2rem;
}
    .btn--primary{
        background: var(--ligthblue);
    }
/* titulos */
.title{
    color: var(--blue);
    font-size: calc(2.3rem + 1vw);
    font-weight: 300;
    margin: 1.5rem 0 .25rem;
}

/* Contenedor */
.container{
    box-sizing: border-box;
    padding: 2rem;
    width: 100%;
    margin-left: calc(20% + 4rem);
}
.wrapper {
    margin: -2rem;
}

/* CARDS */
.card{
    background: white;
    border-radius: 0.78rem;
    box-sizing: border-box;
    padding: 2rem;
    margin-bottom: 2rem;
}
.card__header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card .title{
    font-size: calc(1.25em + 1vw);
    margin: 0;
}
.card .description{
    color: var(--ligthblue);
    padding: 0;
    margin: .5rem 0 1rem;
    font-style: oblique;
}
.card__content{
    display: flex;
}

.card__icons{
    color: var(--ligthblue);
}