.sidebar {
    position: fixed;
    height: 100%;
    padding: 2rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .sidebar__logo{
        width: 300px;
        height: auto;
    }

.sidebar a{
    color: var(--black);
    font-size: 300;
    text-decoration: none;
    text-transform: uppercase;
}
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    list-style: none;
    line-height: 1.8;
}

.sidebar__menu{
    margin: 3rem 0;
}