.sidebar {
    background: white;
    position: fixed;
    height: 100%;
    padding: 2rem;
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
    .sidebar__logo{
        width: 300px;
        height: auto;
    }

.sidebar__links{
    color: var(--black);
    font-size: 300;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.4s ease;
}
    .sidebar__links:hover{
        color: var(--blue);
        font-weight: 400;
    }
.sidebar ul {
    padding: 0;
    margin: 0;
}
.sidebar ul li {
    list-style: none;
    line-height: 1.8;
}

.sidebar__menu{
    margin: 3rem 0;
}
.sidebar__icons{
    color: var(--ligthblue);
    margin-right: 1rem;
}